html {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

body {
    border-style: solid;
    border-width: 15px;
}

#display {
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    border-style: solid;
    box-sizing: border-box;
}

#buttons {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.button_row {
    display: flex;
    width: 400px;
    height: 150px;
    flex-direction: row;
    justify-content: space-evenly; 
}

button {
    margin: 0;
    flex-grow: 1;
    flex-basis: 1;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 25px;
}
